.card{
    display: flex;
    justify-content: center;
}

.container{
    background-color: rgba(100, 148, 237, 0.665);
    width: 80%;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 2fr 2fr 2fr;
    margin-top: 30px;
    padding: 10px;
    border-radius: 25px;
    box-sizing: border-box;
    align-items: center;  
}

.clim{ 
    background-color: rgba(233, 238, 238, 0.557);
    width: 98%;
    height: 100%;
    border-radius: 15px;
    font-size:large;
    padding: 2px;
}

